body.brutalist-d {
  --bg-color: #1e1f22;
  --shadow: #000000;
  --bg-color-1: #2b2b2b;
  --panel-bg: #1e1f22;
  --border-color: #ffffff;
  --text-color: #ffffff;
  --highlight: #fff;
  --blue: #2b2b2b;
  --accent-green: #ffffff;
  --accent-red: #ffffff;
  --accent-yellow: #ffffff;
  --accent-orange: #ffffff;
  --accent-purple: #ffffff;
  --accent-pink: #ffffff;
  --accent-muted: #cccccc;
  font-family: 'Press Start 2P', monospace;
}

body.brutalist-d *,
body.brutalist-d #topHeader,
body.brutalist-d footer {
  font-family: 'Roboto Mono', monospace !important;
}

body.brutalist-d button,
body.brutalist-d input,
body.brutalist-d textarea,
body.brutalist-d fieldset,
body.brutalist-d .sidebar,
body.brutalist-d .section,
body.brutalist-d #dropZone {
  box-shadow: none !important;
  border-width: 2px !important;
}

body.brutalist-d .section {
  border-color: var(--border-color) !important;
}
