

/* --- Settings panel styles --- */

.settings-panel,
#settingsPanel {
  background: var(--panel-stng) !important;
  /* backdrop-filter: blur(10px) !important; */
  /* -webkit-backdrop-filter: blur(10px) !important; */
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) !important; */
  margin-top: 1rem !important;
  flex: 1 1 0 !important; 
  display: none;
  border: 1px solid var(--border-color) !important;
  border-radius: 12px !important;
  padding: 20px !important;
  overflow: auto !important;
  top: 0px !important; 
  align-self: flex-start !important; 
  transition: all 0.3s ease !important;
  font-family: monospace !important;
  line-height: 1.4 !important;
  font-size: 0.95rem !important;
  max-height: calc(100vh - 100px) !important;
  box-sizing: border-box !important;
  transform: translateX(-10px) !important;
  position: absolute !important;
  left: -0.5rem !important;
  width: calc(100vh - 100px) !important;
  max-width: 20rem !important;
  height: calc(100vh - 100px) !important;
  z-index: 25;
  animation: back 15s infinite linear;
}

#settingsPanel.visible {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
.editor-container.show-preview #outputContainer,
#settingsPanel.visible {
  display: block;
  transform: translateX(0);
  flex: 1 1 0;
  min-width: 0;
  max-width: 100%;
  opacity: 1;
}
body.dark .settings-close img {
  position: absolute;
  top: 0;
  left: 80px;
  width: 220px;
  height: 100%;
  z-index: 25;
}

.settings-panel.visible {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

#filenameInputTitle img {
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.3em;
  vertical-align: middle;
}
body.dark #filenameInputTitle img {
  filter: invert(1);
}

.settings-icons img {
  width: 1.5em;
  height: 1.5em;
}
.settings-icons {
  font-size: 15px;
}
.settings-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

/* body.show-settings .settings-panel { */
  /* right: 0; */
/* } */

/* .settings-btn { */
  /* border: 2px solid var(--highlight); */
/* } */

/* body.show-settings #settingsBtn { */
  /* background-color: var(--highlight); */
  /* color: #fff; */

/* } */

/* Highlight sidebar buttons when sections are active */
body:not(.file-loaded) #resetBtn,
/* .editor-container.show-preview #saveBtn, */
/* .editor-container.show-settings #settingsBtn { */
.editor-container.show-preview #saveBtn {
  background-color: var(--highlight);
  color: #fff;
}


/* Align setting label and toggle horizontally */

.settings-panel .setting-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 8px 10px;
}

.settings-panel .setting-item > label {
  margin: 0;
  display: inline-block;
}

.settings-panel .setting-item .toggle-switch {
  justify-self: end;
}
