
/* --- Electron title bar --- */

.title-buttons {
  display: flex !important;
  gap: 0rem !important;
  z-index: 1001 !important;
  -webkit-app-region: no-drag !important;
}



.title-buttons {
  display: flex !important;
  gap: 0rem !important;
  z-index: 1001 !important;
  -webkit-app-region: no-drag !important;
}

#titleBar {
  -webkit-app-region: drag; /* ONLY this div is draggable */
  /* -webkit-app-region: no-drag; /* not draggable by default */
  width: 100%;
  height: 40px !important;
  display: flex;
  align-items: center;
  padding-left: 8px;
  /* background: var(--panel-bg); */
  background: none;
}

#titleBar.disable-drag {
  -webkit-app-region: no-drag;
}
.title-buttons {
  display: flex;
  gap: 8px;
}


/* Hover feedback */
.title-btn:hover {
  transform: scale(1.15) !important;
}

/* Close */
.title-btn.close:hover {
  background-color: #ff5f57 !important;
}

/* Minimize */
.title-btn.minimize:hover {
  background-color: #ffbd2e !important;
}

/* Maximize */
.title-btn.maximize:hover {
  background-color: #28c840 !important;
}

#headerTitle {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  font-family: 'Press Start 2P', sans-serif !important;
  font-size: 0.7rem !important;
  color: white !important;
  pointer-events: none !important;
  white-space: nowrap !important;
  z-index: 1001 !important;
}

#titleBar.update-available {
  background-color: #28c840;
}




#topActions:not(.hide-on-load) #updateTitleBtn {
  margin-left: 11rem;
}


#titleBar.update-available #updateTitleBtn {
  display: block;
}
#updateTitleBtn {
  margin-left: auto;
  padding: 2px 8px;
  font-size: 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: none;
  -webkit-app-region: no-drag;
}
#updateTitleBtn {
  margin-left: auto;
  padding: 2px 8px;
  font-size: 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transition: margin-left 1.3s ease;
}

/* #titleBar.update-available #updateTitleBtn { */
  /* display: block; */
/* } */
#updateTitleBtn.shifted {
  transition: all 0.3s ease !important;
  margin-right: 15rem;
}


